# MAC OS General
.DS_Store
.AppleDouble
.LSOverride

# MAC OS Icon must end with two \r
Icon

# MAC OS Thumbnails
._*

# MAC OS Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# MAC OS Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Windows Dump file
*.stackdump

# Windows Folder config file
[Dd]esktop.ini

# Windows Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# package directories
node_modules
jspm_packages
.idea

# Serverless directories
.serverless

# Example Files
codeship_secrets.json
serverless.config.json
